table {
    border: gray 1px solid;
    border-spacing: 0px;
}

a {
    text-decoration: none;
    color: #666666;
    font-weight: 100;
    line-height: 18px;
}

a:hover {
    color: Blue;
}
