<?xml version = '1.0' encoding = 'EUC-KR'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
    <description>Empty web.xml file for Web Application</description>
    <listener>
        <listener-class>com.idatabank.bisu.certmanager.CMListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>UploadForm</servlet-name>
        <servlet-class>com.idatabank.bisu.certmanager.servlet.UploadForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAction</servlet-name>
        <servlet-class>com.idatabank.bisu.certmanager.servlet.UploadAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCertificate</servlet-name>
        <servlet-class>com.idatabank.bisu.certmanager.servlet.ListCertificate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCertificate</servlet-name>
        <servlet-class>com.idatabank.bisu.certmanager.servlet.GetCertificate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPrivateKey</servlet-name>
        <servlet-class>com.idatabank.bisu.certmanager.servlet.GetPrivateKey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCertInfo</servlet-name>
        <servlet-class>com.idatabank.bisu.certmanager.servlet.ViewCertInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.idatabank.bisu.certmanager.servlet.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadForm</servlet-name>
        <url-pattern>/uploadform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAction</servlet-name>
        <url-pattern>/uploadaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCertificate</servlet-name>
        <url-pattern>/listcertificate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCertificate</servlet-name>
        <url-pattern>/getcertificate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPrivateKey</servlet-name>
        <url-pattern>/getprivatekey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCertInfo</servlet-name>
        <url-pattern>/viewcertinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>35</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login_form.jsp</form-login-page>
            <form-error-page>/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>TigerSoft</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>certmanage</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>TigerSoft</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
